---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';

// Importamos todos los componentes de sección
import WeeklyPlanner from '../components/WeeklyPlanner.astro';
import RecipeGallery from '../components/RecipeGallery.astro';
import Tips from '../components/Tips.astro';
import Progress from '../components/Progress.astro';
---
<Layout title="Plan de Dieta Interactivo">
    
    <Header />
    <Navigation />

    <main>
        <!-- Colocamos todos nuestros componentes de sección -->
        <WeeklyPlanner />
        <RecipeGallery />
        <Tips />
        <Progress />
    </main>
    
</Layout>