---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
import Navigation from '../components/Navigation.astro';

// Importamos todos los componentes de sección
import WeeklyPlanner from '../components/WeeklyPlanner.astro';
import RecipeGallery from '../components/RecipeGallery.astro';
import Tips from '../components/Tips.astro';
import UserData from '../components/UserData.astro';
import GoalProgress from '../components/GoalProgress.astro';
---
<Layout title="Plan de Dieta Interactivo">
    
    <Header client:load />
    <Navigation />

    <main>
        <!-- Colocamos todos nuestros componentes de sección -->
        <WeeklyPlanner />
        <RecipeGallery />
        <Tips />
        <UserData />
        <GoalProgress/>
    </main>
    
</Layout>